





/*---------------- top part style------------- */


body{
    margin: 0;
    padding: 0;
}


.top-part{

display: grid;
grid-template-columns: repeat(2,1fr);
background-color:#2D25A0 ;
width: 1440px;
height: 677px;
grid-column-gap: 108px;
margin-left: 280px;
justify-content: center;
}
.top-part img{  
    
    width: 556.01px;
height: 438px;



    /* width: 556.01px;
    height: 438px;  */
margin-top: 139px;
margin-right: 200px;
margin-bottom: 100px;


}
.top-part .write{

margin-top: 196px;
margin-left: 158px;
margin-bottom: 251px;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    color: #FFFFFF;
grid-column-gap: 108px;
}

.watch-live{

background-color:
#E02C6D;
width: 168px;
height: 44px;
left: 156px;
top: 464px;

font-weight: 500;
font-size: 25px;
line-height: 40px;
text-align: center;
}


.top-part img:hover{

 transform: scale(1.3) rotate(360deg);
transition: transform 2s ease-in-out;
}

/* ----------------------players style ----------------------------------------------------------*/
/* 
div.polaroid {
    width: 35%;
    background-color: white;
    
    margin-bottom: 67px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 15px;;
  }
  
.polaroid img{

    width: 300px;
    height: 256px;
margin-top: 45px;
margin-left: 169;


}
/* 
.write-center{

text-align: left;
color:lightslategray;

/* }
div.polaroid .write-center{
display: flex; */



/* } */ */





}






.flexible{
   
margin-bottom: 50px;
margin: 10px;
padding: 20px; font-size: 30px;}



.polaroid {
    width:30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
margin-top: 70px;

    width: 330px;
    height: 474px;
    border-radius: 20px;
   padding: 20px;
   margin-right:120px;
   margin-left: 120px;gri
   
  }
  

  
.flexible .flex-container{

display:grid;
 grid-template-columns: repeat(3, 1fr); 
 padding-bottom: 18px;
padding-left: 50px;

gap: 20px 5px;
}

/*-------------------------------------------------------------- footer start------------------------------------------ */
.footer {
    height: 300px;
    width: 100%;
    align-content: center;
margin-left: 300px;
    
}

/* p.copyright {
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
} */
.footerContainer img{

    
  margin-top: 50px;
  margin-left:300px;
    width: 500px;




}

.icon-boss{

 margin-left:500px; 
width: 200px;
/* width: 150px;px; */

}




.copyright{
margin-left:500px ;
font-weight: bold;
}
 .icon-boss .back-color{

background-color: rgb(184, 195, 207);
padding:6px;
color: rgb(32, 6, 182);
margin: 6px;px;




/*------------------------------- media quieries ------------------------------------------*/
Small devices landscape phones, 576px and up
@media (min-width: 320px{
    
}